<%= form_with(model: type, local: true) do |form| %>
  <% if type.errors.any? %>
    <div class="notification is-danger">
      <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :name, :class=>"label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
            <%= form.text_field :name, :class=>"input is-large" %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :description, :class=>"label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
            <%= form.text_area :description, :class=>"textarea is-info is-medium" %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :icon, :class=>"label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
            <%= form.text_field :icon, :class=>"input" %>
        </p>
      </div>
    </div>
  </div>

  <div class="buttons has-addons is-right">
    <%= form.submit 'Guardar', :class=>"button is-primary is-right is-large" %>
  </div>
<% end %>
