<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :name, :class=>"label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
            <%= form.text_field :name, :class=>"input is-large" %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= form.label :duration, :class=>"label" %>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
              <%= form.text_field :duration, :class=>"input" %>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= form.label :type_id, :class=>"label" %>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
              <div class="select">
                <%= collection_select(:song, :type_id, Type.all, :id, :name) %>
              </div>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= form.label :youtube_url, :class=>"label" %>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
              <%= form.text_field :youtube_url, :class=>"input is-primary" %>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= form.label 'Artistas', :class=>"label" %>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
                <div class="select is-multiple">
                    <%= collection_check_boxes(:song, :artist_ids, Artist.all, :id, :name) do |b|
                        b.label(:"data-value" => b.value,:class=>"checkbox") {b.check_box + b.text}  
                    end
                    %>
                </div>
            </p>
          </div>
        </div>
      </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
