<% 
if @artist.cover.attached?
%>
<section class="hero is-light is-medium" style="background-image: url(<%= url_for(@artist.cover) %>);background-size:cover;background-position:center center;">
<% 
end
%>

  
    <div id="artistHeader" class="hero-body">
      <div class="container">
          <div class="column">
              <h1 class="title">
                  <%= @artist.name %>
                </h1>
                <a href="./<%= @artist.id %>/play" class="button is-danger is-outlined">
                    <span>Escuchar</span>
                    <span class="icon is-small">
                        <i class="fas fa-play"></i>
                      </span>
                </a>
          </div>
    </div>
</section>

<div class="section">
    <div class="container">
        <div class="columns is-5">
          <div class="column">
              <nav class="level is-mobile">
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Reproducciones</p>
                      <p class="title">3,456</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Suscriptores</p>
                      <p class="title">456K</p>
                    </div>
                  </div>
                </nav>
          </div>
          <div class="colum">
              <%= @artist.biography %>
          </div>
        </div>
    </div>
</div>
<div class="section">
  <div class="container">
      <h3 class="subtitle is-3">Canciones</h3>
      <table class="table is-striped is-hoverable is-fullwidth">
        <tbody>
          <% @artist.songs.each do |song|%>
          <tr class="songElement">
                  <td style="position:relative;">
                    <a href="/cancion/<%= song.id %>/play">
                        <img src="<%= song.image %>" width="50" alt="">
                      <span class="icon" style="position:absolute;top: 15px;left: 30px;">
                          <i class="fas fa-play"></i>
                      </span>
                    </a>
                  </td>
                  <td>
                    <a href="/cancion/<%= song.id %>/play">
                      <%= song.name %>
                    </a>
                  </td>
                  <td><%= song.artists_list() %></td>
          </tr>
          <% end%>
        </tbody>
      </table>
  </div>
</div>
<div class="section">
    <div class="container">
      <% if @artist.albums.any? %>
        <h3 class="subtitle is-3">Albumes</h3>
          <div class="columns">
            <% @artist.albums.each do |album|%>
            <div class="card column is-one-quarter">
                <div class="card-image">
                      <a href="/album/<%= album.id %>">
                      <%if album.image.attached? %>
                        <figure class="image is-4by3" style="background-image: url(<%= url_for(album.image) %>); background-size: cover; background-position: center center;"></figure>
                      <% else %>
                        <figure class="image is-4by3" style="background-image: url(<%= album.get_image() %>); background-size: cover; background-position: center center;"></figure>
                      <%end%>
                      </a>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="<%= url_for(@artist.photo) %>" alt="Artista">
                      </figure>
                    </div>
                    <div class="media-content">
                      <a href="/album/<%= album.id %>">
                        <p class="title is-4"><%= album.title %></p>
                        <p class="subtitle is-6"><%= album.year %></p>
                      </a>
                    </div>
                  </div>
              
                  <div class="content">
                      <%= album.description %>
                  </div>
                </div>
              </div>
            <% end%>
          </div>
      <%end%>
    </div>
  </div>